extends layout
block content
    // Start single page header
    section#single-page-header
      .overlay
        .container
          .row
            .col-md-6.col-sm-6.col-xs-12
              .single-page-header-left
                h2 #{ messages.aboutus_banner_title }
                p #{ messages.aboutus_banner_desc }
    // End single page header
    // Start about
    section#about
      .container
        .row
          .col-md-12
            .title-area
              h2.title #{ messages.aboutus_main_title }
              span.line
              p #{ messages.aboutus_main_desc }
          .col-md-12
            .about-content
              .row
                .col-md-6
                  .our-skill
                    h3 #{ messages.aboutus_skills_title }
                    .our-skill-content
                      p #{ messages.aboutus_skills_desc }
                      .progress
                        .progress-bar.six-sec-ease-in-out(role='progressbar', data-transitiongoal='100')
                          span.progress-title #{ messages.aboutus_skill1 }
                      .progress
                        .progress-bar.six-sec-ease-in-out(role='progressbar', data-transitiongoal='85')
                          span.progress-title #{ messages.aboutus_skill2 }
                      .progress
                        .progress-bar.six-sec-ease-in-out(role='progressbar', data-transitiongoal='70')
                          span.progress-title #{ messages.aboutus_skill3 }
                      .progress
                        .progress-bar.six-sec-ease-in-out(role='progressbar', data-transitiongoal='60')
                          span.progress-title #{ messages.aboutus_skill4 }
                      .progress
                        .progress-bar.six-sec-ease-in-out(role='progressbar', data-transitiongoal='40')
                          span.progress-title #{ messages.aboutus_skill5 }
                      .progress
                        .progress-bar.six-sec-ease-in-out(role='progressbar', data-transitiongoal='25')
                          span.progress-title #{ messages.aboutus_skill6 }
                .col-md-6
                  .why-choose-us
                    h3 #{ messages.aboutus_why_title }
                    #accordion.panel-group.why-choose-group
                      .panel.panel-default
                        .panel-heading
                          h4.panel-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                              | #{ messages.aboutus_why_reason1_title } 
                              span.fa.fa-minus-square
                        #collapseOne.panel-collapse.collapse.in
                          .panel-body
                            img.why-choose-img(src='images/testi1.jpg', alt='img')
                            p  #{ messages.aboutus_why_reason1_desc }
                      .panel.panel-default
                        .panel-heading
                          h4.panel-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                              | #{ messages.aboutus_why_reason2_title } 
                              span.fa.fa-plus-square
                        #collapseTwo.panel-collapse.collapse
                          .panel-body
                            p #{ messages.aboutus_why_reason2_desc }
                      .panel.panel-default
                        .panel-heading
                          h4.panel-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                              | #{ messages.aboutus_why_reason3_title } 
                              span.fa.fa-plus-square
                        #collapseThree.panel-collapse.collapse
                          .panel-body
                            p #{ messages.aboutus_why_reason3_desc }
    // end about
