extends layout
block content
    // Start single page header
    section#single-page-header
      .overlay
        .container
          .row
            .col-md-6.col-sm-6.col-xs-12
              .single-page-header-left
                h2 #{ messages.contact_banner_title }
                p #{ messages.contact_banner_desc }
    // End single page header
    // Start contact section
    section#contact
      .container
        .row
          .col-md-12
            .title-area
              h2.title #{ messages.contact_mainquestions_title }
              span.line
              p #{ messages.contact_mainquestions_desc }
          .col-md-12
            .cotact-area
              .row
                .col-md-4
                  .contact-area-left
                    h4 #{ messages.contact_info_title }
                    p #{ messages.contact_info_desc }
                    address.single-address
                      p P.O. Box 240000. Huntsville, AL 35813, USA Street address: 305
                      p support@gmail.com
                      p +1(06) 778 5468
                    .footer-right.contact-social
                      a(href='index')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-twitter
                      a(href='#')
                        i.fa.fa-google-plus
                      a(href='#')
                        i.fa.fa-linkedin
                      a(href='#')
                        i.fa.fa-pinterest
                .col-md-8
                  .contact-area-right
                    form.comments-form.contact-form(action='')
                      .form-group
                        input.form-control(type='text', placeholder='Your Name')
                      .form-group
                        input.form-control(type='email', placeholder='Email')
                      .form-group
                        input.form-control(type='text', placeholder='Subject')
                      .form-group
                        textarea.form-control(placeholder='Comment', rows='3')
                      button.comment-btn Submit Comment
    // End contact section
