extends layout
block content
    // Start slider
    section#slider
      .main-slider
        .single-slide
          img(src='images/slider-3.jpg', alt='img')
          .slide-content
            .container
              .row
                .col-md-6.col-sm-6
                  .slide-article
                    h1.wow.fadeInUp(data-wow-duration='0.5s', data-wow-delay='0.5s') #{ messages.index_slider1_title1 }
                    p.wow.fadeInUp(data-wow-duration='0.5s', data-wow-delay='0.75s') #{ messages.index_slider1_title2 }
                    a.read-more-btn.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='1s', href='#') Read More
                .col-md-6.col-sm-6
                  .slider-img.wow.fadeInUp
                    img(src='images/person1.png', alt='business man')
        .single-slide
          img(src='images/slider-2.jpg', alt='img')
          .slide-content
            .container
              .row
                .col-md-6.col-sm-6
                  .slide-article
                    h1.wow.fadeInUp(data-wow-duration='0.5s', data-wow-delay='0.5s') #{ messages.index_slider2_title1 }
                    p.wow.fadeInUp(data-wow-duration='0.5s', data-wow-delay='0.75s') #{ messages.index_slider2_title2 }
                    a.read-more-btn.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='1s', href='#') Read More
                .col-md-6.col-sm-6
                  .slider-img.wow.fadeInUp
                    img(src='images/person2.png', alt='business man')
    // End slider
    // Start Feature
    section#feature
      .container
        .row
          .col-md-12
            .title-area
              h2.title #{ messages.index_feature_title }
              span.line
              p #{ messages.index_feature_description }
          .col-md-12
            .feature-content
              .row
                .col-md-4.col-sm-6
                  .single-feature.wow.zoomIn
                    i.fa.fa-leaf.feature-icon
                    h4.feat-title #{ messages.index_box1_title }
                    p #{ messages.index_box1_desc }
                .col-md-4.col-sm-6
                  .single-feature.wow.zoomIn
                    i.fa.fa-mobile.feature-icon
                    h4.feat-title #{ messages.index_box2_title }
                    p #{ messages.index_box2_desc }
                .col-md-4.col-sm-6
                  .single-feature.wow.zoomIn
                    i.fa.fa-thumbs-o-up.feature-icon
                    h4.feat-title #{ messages.index_box3_title }
                    p #{ messages.index_box3_desc}
                .col-md-4.col-sm-6
                  .single-feature.wow.zoomIn
                    i.fa.fa-gears.feature-icon
                    h4.feat-title #{ messages.index_box4_title }
                    p #{ messages.index_box4_desc }
                .col-md-4.col-sm-6
                  .single-feature.wow.zoomIn
                    i.fa.fa-code.feature-icon
                    h4.feat-title #{ messages.index_box5_title }
                    p #{ messages.index_box5_desc }
                .col-md-4.col-sm-6
                  .single-feature.wow.zoomIn
                    i.fa.fa-smile-o.feature-icon
                    h4.feat-title #{ messages.index_box6_title }
                    p #{ messages.index_box6_desc }
    // End Feature
    // Start Testimonial section
    section#testimonial
      .container
        .row
          .col-md-6
            .row
              .col-md-12
                .title-area
                  h2.title Whats Client Say
                  span.line
              .col-md-12
                // Start testimonial slider
                .testimonial-slider
                  // Start single slider
                  .single-slider
                    .testimonial-img
                      img(src='images/testi1.jpg', alt='testimonial image')
                    .testimonial-content
                      p
                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                      h6
                        | Bernice Neumann, 
                        span Designer
                  // Start single slider
                  .single-slider
                    .testimonial-img
                      img(src='images/testi3.jpg', alt='testimonial image')
                    .testimonial-content
                      p
                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                      h6
                        | John Dow, 
                        span CEO
                  // Start single slider
                  .single-slider
                    .testimonial-img
                      img(src='images/testi2.jpg', alt='testimonial image')
                    .testimonial-content
                      p
                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                      h6
                        | Michel, 
                        span Developer
          .col-md-6
    // End Testimonial section
    // Start Clients brand
    section#clients-brand
      .container
        .row
          .col-md-12
            .clients-brand-area
              ul.clients-brand-slide
                li.col-md-3
                  .single-brand
                    img(src='images/amazon.png', alt='img')
                li.col-md-3
                  .single-brand
                    img(src='images/discovery.png', alt='img')
                li.col-md-3
                  .single-brand
                    img(src='images/envato.png', alt='img')
                li.col-md-3
                  .single-brand
                    img(src='images/tuenti.png', alt='img')
                li.col-md-3
                  .single-brand
                    img(src='images/amazon.png', alt='img')
                li.col-md-3
                  .single-brand
                    img(src='images/discovery.png', alt='img')
                li.col-md-3
                  .single-brand
                    img(src='images/envato.png', alt='img')
                li.col-md-3
                  .single-brand
                    img(src='images/tuenti.png', alt='img')
    // End Clients brand
    // Start subscribe us
    section#subscribe
      .subscribe-overlay
        .container
          .row
            .col-md-12
              .subscribe-area
                h2.wow.fadeInUp Subscribe Newsletter
                form.subscrib-form.wow.fadeInUp(action='', data-wow-duration='0.5s', data-wow-delay='0.5s')
                  input(type='text', placeholder='Enter Your E-mail..')
                  button.subscribe-btn(type='submit') Submit
    // End subscribe us
 