extends layout
block content
    // Start single page header
    section#single-page-header
      .overlay
        .container
          .row
            .col-md-6.col-sm-6.col-xs-12
              .single-page-header-left
                h2 #{ messages.services_banner_title }
                p #{ messages.services_banner_desc }
    // End single page header
    // Start Service
    section#service
      .container
        .row
          .col-md-12
            .title-area
              h2.title #{ messages.services_banner_title }
              span.line
              p #{ messages.services_banner_desc }
          .col-md-12
            .service-content
              .row
                // Start single service
                .col-md-4.col-sm-6
                  .single-service.wow.zoomIn
                    i.fa.fa-desktop.service-icon
                    h4.service-title #{ messages.services_box1_title }
                    p #{ messages.services_box1_desc }
                // End single service
                // Start single service
                .col-md-4.col-sm-6
                  .single-service.wow.zoomIn
                    i.fa.fa-paw.service-icon
                    h4.service-title #{ messages.services_box2_title }
                    p #{ messages.services_box2_desc }
                // End single service
                // Start single service
                .col-md-4.col-sm-6
                  .single-service.wow.zoomIn
                    i.fa.fa-magic.service-icon
                    h4.service-title #{ messages.services_box3_title }
                    p #{ messages.services_box3_desc }
                // End single service
                // Start single service
                .col-md-4.col-sm-6
                  .single-service.wow.zoomIn
                    i.fa.fa-shopping-cart.service-icon
                    h4.service-title #{ messages.services_box4_title }
                    p #{ messages.services_box4_desc }
                // End single service
                // Start single service
                .col-md-4.col-sm-6
                  .single-service.wow.zoomIn
                    i.fa.fa-mobile.service-icon
                    h4.service-title #{ messages.services_box5_title }
                    p #{ messages.services_box5_desc }
                // End single service
                // Start single service
                .col-md-4.col-sm-6
                  .single-service.wow.zoomIn
                    i.fa.fa-rocket.service-icon
                    h4.service-title #{ messages.services_box6_title }
                    p #{ messages.services_box6_desc }
                // End single service
    // End Service
 